In [24]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [3]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [4]:
pd.__version__

'2.2.3'

In [5]:
df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

In [6]:

# the number of unique values that are present in the brand column
df.Brand.unique() # gives what are the unique values are
df.Brand.nunique() # gives the number of the unique values in the column

27

In [7]:
#Count of columns of Df that has null values
((df.isnull().sum())>0).sum()

np.int64(3)

In [8]:
# maximum final Price for dell notebooks

df[df.Brand=="Dell"]['Final Price'].max()

np.float64(3936.0)

In [9]:
# Median value of the screen column

df.Screen.median()

np.float64(15.6)

In [10]:
#most frequent value of the screen column
df.Screen.mode()

0    15.6
Name: Screen, dtype: float64

In [12]:
#fill the missing values of the screen column with the most frequent value from the previous step.
df.Screen=df.Screen.fillna(15.6)

In [17]:
#calculating the median value once again
df.Screen.median()

np.float64(15.6)

In [27]:
#select all the "Innjoo" laptops from the dataset
df[df.Brand=="Innjoo"]

#select only columns ram storage and screen
df[df.Brand=="Innjoo"][["RAM","Storage","Screen"]]


# getting the underlying numpy array and calling it x
x=np.array(df[df.Brand=="Innjoo"][["RAM","Storage","Screen"]])

#Lets compute the matrix multiplication of the matrix with its transpose and lets call it xTx
xtx=x.dot(x.T)

#compute the inverse of xTx
np.linalg.inv(xtx) # this will give an error due to the fact that the underlying matrix is a singular matrix

#Create an array y with values [1100, 1300, 800, 900, 1000, 1100].

#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

#What's the sum of all the elements of the result?
#Note: You just implemented linear regression.

LinAlgError: Singular matrix