<b><font color = 'red'><style>
h1 {text-align: center;}</style><h1> Machine Learning Classification</h1> </font> </b>

<b><font color = 'red'> <h4>Churn Prediction </h4></font></b>

In [2]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
# Reading the customer data that we will be using

#data='https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-03-churn-prediction/WA_Fn-UseC_-Telco-Customer-Churn.csv'
#
#!wget $data -o data-week-3.csv  > /dev/null 2>&1

#####> /dev/null 2>&1 redirects all output from wget (both standard output and errors) to "null," effectively suppressing it. This prevents the download messages from appearing in the cell output.

In [4]:
# df1=pd.read_csv('data-week-3.csv')
# df1

In [5]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-03-churn-prediction/WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

<b><font color ='red'> Data Preparation </font></b>

In [6]:
df.columns=df.columns.str.lower().str.replace(' ','_')

df.head()

   customerid  gender  seniorcitizen  ... monthlycharges totalcharges  churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [7]:
col_list_object=list(df.dtypes[(df.dtypes=='object')].index)
col_list_object

['customerid',
 'gender',
 'partner',
 'dependents',
 'phoneservice',
 'multiplelines',
 'internetservice',
 'onlinesecurity',
 'onlinebackup',
 'deviceprotection',
 'techsupport',
 'streamingtv',
 'streamingmovies',
 'contract',
 'paperlessbilling',
 'paymentmethod',
 'totalcharges',
 'churn']

In [8]:
for item in col_list_object:
    df[item]=df[item].str.lower().str.replace(' ','_')
    
df

      customerid  gender  seniorcitizen  ... monthlycharges totalcharges  churn
0     7590-vhveg  female              0  ...          29.85        29.85     no
1     5575-gnvde    male              0  ...          56.95       1889.5     no
2     3668-qpybk    male              0  ...          53.85       108.15    yes
3     7795-cfocw    male              0  ...          42.30      1840.75     no
4     9237-hqitu  female              0  ...          70.70       151.65    yes
...          ...     ...            ...  ...            ...          ...    ...
7038  6840-resvb    male              0  ...          84.80       1990.5     no
7039  2234-xaduh  female              0  ...         103.20       7362.9     no
7040  4801-jzazl  female              0  ...          29.60       346.45     no
7041  8361-ltmkd    male              1  ...          74.40        306.6    yes
7042  3186-ajiek    male              0  ...         105.65       6844.5     no

[7043 rows x 21 columns]

In [9]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [10]:
#totalcharges column should be numneric ie float or integer but it is object that means that some of the values in the column are string 
#Hence I will try to convert the column to numeric and the error will tell us if that is the case i.e if there are certain values that can no be converted to numeric

pd.to_numeric(df.totalcharges)

ValueError: Unable to parse string "_" at position 488

In [11]:
# that means that the dataset has missing values represented by space and since in our case we replaced the spaces by underscore hence this is this is the case.
# Hence while trying to convert to numeric for errors i will replace those values by NaN using the error parameter

df.totalcharges=pd.to_numeric(df.totalcharges,errors='coerce')

errors='coerce':

The errors parameter tells pd.to_numeric how to handle non-numeric values.
Setting errors='coerce' instructs pandas to replace any non-numeric values with NaN (Not a Number).
For example, if totalcharges has a value 'abc', pd.to_numeric will replace it with NaN instead of throwing an error.


'raise'	Raises an error if any value is non-numeric (default behavior).
'coerce'	Converts non-numeric values to NaN. Useful for handling invalid values without stopping code.
'ignore'	Leaves the values as they are without any conversion.


errors ::	Handles non-numeric values ('raise', 'coerce', or 'ignore').

downcast ::	Attempts to downcast numeric data types ('integer', 'float', 'unsigned').

dtype_backend	:: Specifies the backend for data types (e.g., 'numpy_nullable', 'pyarrow') for specialized data handling.

In [12]:
#Lets check whether the data now has NaN values
df.totalcharges.isnull().sum()

np.int64(11)

In [13]:
# there are 11 values that are null. lets take a look at the customer ids that have these null values
df[df.totalcharges.isnull()][['customerid','totalcharges']]

      customerid  totalcharges
488   4472-lvygi           NaN
753   3115-czmzd           NaN
936   5709-lvoeq           NaN
1082  4367-nuyao           NaN
1340  1371-dwpaz           NaN
3331  7644-omvmy           NaN
3826  3213-vvolg           NaN
4380  2520-sgtta           NaN
5218  2923-arzlg           NaN
6670  4075-wkniu           NaN
6754  2775-sefee           NaN

In [14]:
#Replace the NaN values by zero
df.totalcharges=df.totalcharges.fillna(0)

In [ ]:
#Take a took at our target variable that is churn. ie whether the customer left or not
df.churn

0        no
1        no
2       yes
3        no
4       yes
       ...
7038     no
7039     no
7040     no
7041    yes
7042     no
Name: churn, Length: 7043, dtype: object

In [15]:
# since this column has Yes and No hence lets change the column to numeric type. since then only we can utilise the column in machine learning
df.churn=(df.churn=='yes').astype(int)

<b><font color='red'> Setting up the validation framework </font></b>

In [16]:
# Now we will split the data in train validation and split.
# We will import the scikit learn library that we will use to train and test and split the data
from sklearn.model_selection import train_test_split

In [19]:
# we can use the ? to see the help/implementation of a function
train_test_split?

Signature:
train_test_split(
    *arrays,
    test_size=None,
    train_size=None,
    random_state=None,
    shuffle=True,
    stratify=None,
)
Docstring:
Split arrays or matrices into random train and test subsets.

Quick utility that wraps input validation,
``next(ShuffleSplit().split(X, y))``, and application to input data
into a single call for splitting (and optionally subsampling) data into a
one-liner.

Read more in the :ref:`User Guide <cross_validation>`.

Parameters
----------
*arrays : sequence of indexables with same length / shape[0]
    Allowed inputs are lists, numpy arrays, scipy-sparse
    matrices or pandas dataframes.

test_size : float or int, default=None
    If float, should be between 0.0 and 1.0 and represent the proportion
    of the dataset to include in the test split. If int, represents the
    absolute number of test samples. If None, the value is set to the
    complement of the train size. If ``train_size`` is also None, it will
    be set to 0.25.

train_size : float or int, default=None
    If float, should be between 0.0 and 1.0 and represent the
    proportion of the dataset to include in the train split. If
    int, represents the absolute number of train samples. If None,
    the value is automatically set to the complement of the test size.

random_state : int, RandomState instance or None, default=None
    Controls the shuffling applied to the data before applying the split.
    Pass an int for reproducible output across multiple function calls.
    See :term:`Glossary <random_state>`.

shuffle : bool, default=True
    Whether or not to shuffle the data before splitting. If shuffle=False
    then stratify must be None.

stratify : array-like, default=None
    If not None, data is split in a stratified fashion, using this as
    the class labels.
    Read more in the :ref:`User Guide <stratification>`.

Returns
-------
splitting : list, length=2 * len(arrays)
    List containing train-test split of inputs.

    .. versionadded:: 0.16
        If the input is sparse, the output will be a
        ``scipy.sparse.csr_matrix``. Else, output type is the same as the
        input type.

Examples
--------
>>> import numpy as np
>>> from sklearn.model_selection import train_test_split
>>> X, y = np.arange(10).reshape((5, 2)), range(5)
>>> X
array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])
>>> list(y)
[0, 1, 2, 3, 4]

>>> X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)
...
>>> X_train
array([[4, 5],
       [0, 1],
       [6, 7]])
>>> y_train
[2, 0, 3]
>>> X_test
array([[2, 3],
       [8, 9]])
>>> y_test
[1, 4]

>>> train_test_split(y, shuffle=False)
[[0, 1, 2], [3, 4]]
File:      ~/.local/lib/python3.12/site-packages/sklearn/model_selection/_split.py
Type:      function

In [24]:
#this will split the sample into the test an train data set  so we have to split the data again in the train and validation data set
df_train_full,df_test_full=train_test_split(df,test_size=0.2,random_state=1)

In [25]:
#Now we will again split the train data in train and validation also the the size of the test data in now 0.25 since 20% of 100 is 25% of 80
df_train_full,df_val_full=train_test_split(df_train_full,test_size=0.25,random_state=1)

len(df_train_full),len(df_val_full),len(df_test_full)

(4225, 1409, 1409)

In [26]:
df_train_full

      customerid  gender  seniorcitizen  ... monthlycharges totalcharges  churn
3897  8015-ihcgw  female              0  ...         115.50      8425.15      0
1980  1960-uycnn    male              0  ...          95.25      1021.55      0
6302  9250-wypll  female              0  ...          75.55       413.65      1
727   6786-obwqr  female              0  ...          80.85       356.10      0
5104  1328-euzhc  female              0  ...          20.10       370.50      0
...          ...     ...            ...  ...            ...          ...    ...
3774  1309-xgfsn    male              1  ...          80.85      4079.55      0
6108  4819-hjpiw    male              0  ...          25.15       476.80      0
1530  3703-vavcl    male              0  ...          90.00       190.05      1
3701  3812-lrzir  female              0  ...          24.50       761.95      0
4368  1704-nrwye  female              1  ...          80.85       751.65      1

[4225 rows x 21 columns]

In [27]:
#Now I can reset the inexes of the dataframe, not that it makes any difference it is just that if the indexes are in increasing order then it makes easier to look for the rows.
df_train_full.reset_index(drop=True,inplace=True)
df_val_full.reset_index(drop=True,inplace=True)
df_train_full.reset_index(drop=True,inplace=True)

df_train_full

      customerid  gender  seniorcitizen  ... monthlycharges totalcharges  churn
0     8015-ihcgw  female              0  ...         115.50      8425.15      0
1     1960-uycnn    male              0  ...          95.25      1021.55      0
2     9250-wypll  female              0  ...          75.55       413.65      1
3     6786-obwqr  female              0  ...          80.85       356.10      0
4     1328-euzhc  female              0  ...          20.10       370.50      0
...          ...     ...            ...  ...            ...          ...    ...
4220  1309-xgfsn    male              1  ...          80.85      4079.55      0
4221  4819-hjpiw    male              0  ...          25.15       476.80      0
4222  3703-vavcl    male              0  ...          90.00       190.05      1
4223  3812-lrzir  female              0  ...          24.50       761.95      0
4224  1704-nrwye  female              1  ...          80.85       751.65      1

[4225 rows x 21 columns]